@CHARSET "ISO-8859-1";

.shadowedUserInfoDiv [type=text] {
	width: 400px;
}

.shadowedUserInfoDiv {
	width: 600px;
	padding: 30px;
}

.shadowedUserInfoDiv tr:nth-child(odd) td {
	background-color: #f2f2f2;
}

.shadowedUserInfoDiv table {
	margin: auto;
}