<div class="shadowedAcaeForMonthDiv">
	<table>
		<tr>
			<th>Header1</th>
			<th>Header2</th>
			<th>Header3</th>
			<th>Header4</th>
			<th>Header5</th>
			<th>Header6</th>
			<th>Header7</th>
			<th>Header8</th>
			<th>Header9</th>
			<th></th>
		</tr>
		<tr>
			<td th:text="${variableFromController}">data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td><img src="/img/edit-icon.png" data-id="selectedId" class="editIcon" />
				<img src="/img/delete-icon.png" data-id="selectedId" class="deleteIcon" /></td>
		</tr>
		<tr>
			<td th:text="${variableFromController}">data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td><img src="/img/edit-icon.png" data-id="selectedId" class="editIcon" />
				<img src="/img/delete-icon.png" data-id="selectedId" class="deleteIcon" /></td>
		</tr>
		<tr>
			<td th:text="${variableFromController}">data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td><img src="/img/edit-icon.png" data-id="selectedId" class="editIcon" />
				<img src="/img/delete-icon.png" data-id="selectedId" class="deleteIcon" /></td>
		</tr>
		<tr>
			<td th:text="${variableFromController}">data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td><img src="/img/edit-icon.png" data-id="selectedId" class="editIcon" />
				<img src="/img/delete-icon.png" data-id="selectedId" class="deleteIcon" /></td>
		</tr>
		<tr>
			<td th:text="${variableFromController}">data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td><img src="/img/edit-icon.png" data-recordId="selectedId"
				class="editIcon"
			/> <img src="/img/delete-icon.png" data-recordId="selectedId"
				class="deleteIcon"
			/></td>
		</tr>
	</table>

	<input type="button" value="Add New Record" id="addNewRecord" />

</div>

<div id="recordEditorDiv"></div>

<link rel="stylesheet" type="text/css" href="/css/acaeformonth.css" />
<script type="text/javascript" src="/js/acaeformonth.js"></script>

