<div class="shadowedAcaeForMonthDiv">
	<table>
		<tr>
			<th>Header1</th>
			<th>Header2</th>
			<th>Header3</th>
			<th>Header4</th>
			<th>Header5</th>
			<th>Header6</th>
			<th>Header7</th>
			<th>Header8</th>
			<th>Header9</th>
			<th>Header10</th>
		</tr>
		<tr>
			<td th:text="${variableFromController}">data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
		</tr>
		<tr>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
		</tr>
		<tr>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
		</tr>
		<tr>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
			<td>data1</td>
		</tr>
	</table>
</div>