<div class="shadowedUserInfoDiv">
	<table>
		<tr>
			<th>Test Label1:</th>
			<td><input type="text" th:value="${variableFromController}" value="test value1" /></td>
		</tr>
		<tr>
			<th>Test Label2:</th>
			<td><input type="text" value="test value2" /></td>
		</tr>
		<tr>
			<th>Test Label3:</th>
			<td><input type="text" value="test value3" /></td>
		</tr>
		<tr>
			<th>Test Label4:</th>
			<td><input type="text" value="test value4" /></td>
		</tr>
	</table>
</div>
<link rel="stylesheet" type="text/css" href="/css/userprofile.css"/>